@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  min-width: 198px;
  height: 50px;
  padding: 0 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  background-color: red;
  transition: background-color .2s ease;
}

.btn:hover {
  background-color: #6b150e;
}

/* header start */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.haeder__wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block {
  width: 20%;
}

.nav {
  display: flex;

}

.nav__link {
  margin-right: 35px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.nav__link:after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity .2s ease;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link.active:after {
  opacity: 1;
}

.header__lng {
  display: flex;
  justify-content: flex-end;
}

.header__lng-link {
  margin-right: 8px;
  font-weight: 600;
  color: #B7b7b7;
  text-transform: uppercase;
  text-decoration: none;
}

.header__lng-link:last-child {
  margin-right: 0;
}

.header__lng-link.active {
  color: #fff;
}

/* header end */

/* inrto start */

.intro {
  background: url('../img/intro_bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.intro:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
  content: "";
}

.intro__content {
  height: 750px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.intro__block {

}

.intro__title {
  max-width: 790px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 30px;
}
/* intro end */
